main {
    background-color: var(--dark200);
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;

    span {
        padding: 12px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        h6 {
            font-size: 8pt;
        }

        .get {
            color: var(--get);
            // rotate: 135deg;
        }

        .post {
            color: var(--post);
            // rotate: -45deg;
        }

        .delete {
            color: var(--delete);
        }

        .patch {
            color: var(--patch);
        }

        .put {
            color: var(--put);
        }

    }

    hr {
        border: 1px solid var(--dark300);
    }


    p {
        padding: 12px 0;
        margin: 0;
        color: var(--grey200);
        padding: 12px;
    }
}

main:hover {
    background-color: var(--dark300);

    hr {
        border: 1px solid var(--dark400);
    }
}