main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dark300);
    gap: 1px;
    height: 100%;


    section {
        width: 100%;
        background-color: var(--dark100);
        padding: 20px;
    }

    section.request {
        grid-column: 1;
        grid-row: 1/3;
    }

    section.result {
        grid-column: 2;
        grid-row: 1/3;
    }

    @media screen and (max-width: 1000px) {
        section.request {
            grid-column: 1/3;
            grid-row: 1;
        }
    
        section.result {
            grid-column: 1/3;
            grid-row: 2;
        }
    }

    div.request_bar {

        display: flex;
        background-color: var(--dark300);
        border-radius: 8px;
        width: 100%;


        select {
            border-radius: 8px 0 0 8px;
            border : none;
            background-color: var(--dark200);
            cursor: pointer;
            padding: 10px;
        }

        input{
            border: none;
            padding: 10px;
            background-color: var(--dark200);
            width:100%;
            color: white;
        }

        button {
            border:none;
            background-color: var(--primary);
            border-radius: 0 8px 8px 0;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
        }
    }
}


