<main *ngIf="request">
    <section class="request">
        <div class="request_bar">
            <select [(ngModel)]="request.method" title="{{request.method}}" class="http_method_{{request.method}}">
                <option>GET</option>
                <option>POST</option>
                <option>PUT</option>
                <option>DELETE</option>
            </select>
            <input [(ngModel)]="request.url" type="url" placeholder="http://your.url.com">
            <button (click)="onSendButtonClicked()">Send</button>
        </div>

        <app-parameters [request]="request" class="parameters"></app-parameters>
    </section>

    <section class="result">
        <app-result [result]="result"></app-result>
    </section>
</main>