main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

div {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--primary);
    transition: border-radius 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24pt;
    color: white;
    line-height: 0px;
}

div:hover {
    border-radius: 20px;
}