section {
    display: flex;
    background-color: var(--dark300);
    border-radius: 8px;
    height: 40px;

    select {
        border-radius: 8px 0 0 8px;
        border: none;
        background-color: var(--dark200);
        cursor: pointer;
        padding: 10px;
    }

    input {
        border: none;
        padding: 10px;
        background-color: var(--dark200);
        width: 100%;
        color: white;
    }

    button {
        border: none;
        background-color: var(--primary);
        border-radius: 0 8px 8px 0;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
    }
}