main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    section {
        display: flex;
        flex-direction: column;
        background-color: var(--dark200);
        align-items: center;
        justify-content: center;

        i {
            cursor: pointer;
            padding: 20px;
            font-size: 18pt;
            color: var(--light);
        }

        i:hover {
            color: var(--primary);
        }
    }


    span {
        flex: 1;
        background-color: var(--dark300);
    }
}