main {
    display: flex;
    flex-direction: column;

    section.badges {

        display: flex;
    
        div{
            border-radius: 12px;
            padding: 10px 20px;
            background-color: var(--dark200);
            color: white;
        }
    }
    
    section.result {

        background-color: var(--dark200);
        flex-grow: 1;
        overflow: auto;
        height: 200px;
        width: 200px;
    
        pre {
    
            code {
                color: white;
            }
        }
    }
}