<main *ngIf="request">
    <header>
        <div (click)="onBodyClicked()">Body</div>
        <div (click)="onHeadersClicked()">Headers</div>
        <div (click)="onNotesClicked()">Notes</div>
    </header>

    <section id="request-body-content" *ngIf="tab == 'Body'">
        <app-code-editor [(content)]="request.body"></app-code-editor>
    </section>

    <section *ngIf="tab == 'Headers'" class="headers-content" >
        <div>
            <app-button text="Add" icon="fa-solid fa-plus" (onButtonClicked)="onAddHeader()"></app-button>
            <app-button text="Clear" icon="fa-solid fa-trash" (onButtonClicked)="onClearHeaders()"></app-button>
        </div>
        <app-headers [(headers)]="request.headers" [readonly]="false"></app-headers>
    </section>

    <section *ngIf="tab == 'Notes'">
        <h1>Hello from notes</h1>
    </section>
</main>