<main *ngIf="request">
    <header>
        <div (click)="onBodyClicked()">Body</div>
        <div (click)="onHeadersClicked()">Headers</div>
        <div (click)="onNotesClicked()">Notes</div>
    </header>

    <section id="request-body-content" *ngIf="tab == 'Body'">
        <app-code-editor [(content)]="request.body"></app-code-editor>
    </section>

    <section *ngIf="tab == 'Headers'">
        <h1>Hello from headers</h1>
    </section>

    <section *ngIf="tab == 'Notes'">
        <h1>Hello from notes</h1>
    </section>
</main>