main {
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 100%;

    header {
        display: flex;
        gap: 1px;

        div {
            color: var(--white);
            padding: 10px;
            flex-basis: 0;
            flex-grow: 1;
            cursor: pointer;
            background-color: var(--dark200);
            text-align: center;
        }

        div:first-child{
            border-radius: 8px 0px 0px 0px;
        }
    
        div:last-child{
            border-radius: 0px 8px 0px 0px;
        }
    }

    section {
        background-color: var(--dark200);
        flex-grow: 1;
        border-radius: 0px 0px 8px 8px;
    }

    .headers-content{
        overflow: auto;
        flex-basis: 0;

        div {
            padding: 5px;
            display: flex;
            justify-content: center;
            gap: 15px;
        }
    }
}

#request-body-content {
    height: 100px;
}

i {
    color: white;
    font-size: 16pt;
    cursor: pointer;
    -webkit-app-region: no-drag;
}