header {
    height: 100px;
    background-color: black;
    background-image: url('../../../../assets/deers.png');
    background-position: center;
    background-size: cover;
}

main {
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;


    img {
        width: 80px;
        height: 80px;
        margin-top: -60px;
        border-radius: 60px;
        padding: 5px;
        background-color: white;
        cursor: pointer;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;

        h4 {
            color: #060606;
            margin: 0 !important;
        }
    
        input {
            border : none;
            padding: 10px;
            font-size: 12pt;
            color: #2E3036;
            background-color: #EAEAED;
        }


        .guid_input {
            cursor: not-allowed;
        }
    }

    div.buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }


    button.delete_button{
        background-color: var(--red);
    }

    
    button{
        background-color: var(--primary);
        border:none;
        padding: 10px 40px;
        color: var(--white);
        border-radius: 4px;
        cursor: pointer;
    }

    button:disabled{
        background-color: var(--primary_disabled);
        cursor:not-allowed;
    }
}

