header {
    background-color: var(--dark200);
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    -webkit-app-region: drag;


    h3 {
        margin : 0;
        color: white;
        text-transform: uppercase;
    }

    div {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            color: white;
            font-size: 16pt;
            cursor: pointer;
            -webkit-app-region: no-drag;
        }
    }
}


main {
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    gap: 1px;

    div {
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    div:hover{
        background-color: var(--dark200);
    }

    div.selected_true {
        background-color: var(--dark200) !important;
    }

    h4 {
        text-transform: uppercase;
        margin: 0;
        font-weight: bold;
    }

    h5 {
        margin: 0;
        flex-grow: 1;
        color: white;
    }

    h4.method_get {
        color: var(--primary);
    }


}