<header>
    <h3>{{project?.name}}</h3>
    <div>
        <i class="fa-solid fa-gear"></i>
        <i (click)="createRequest()" class="fa-solid fa-plus"></i>
    </div>
</header>
<main id="requests_list">
    <div *ngFor="let request of requests" (click)="onRequestClicked(request)" (dblclick)="onDoubleClick(request)" class="selected_{{selectedRequest == request}}" (contextmenu)="onRightClick($event, request)" >
        <h4 class="http_method_{{request.method}}">{{request.method}}</h4>
        <h5>{{request.name}}</h5>
    </div>
</main>
