main {
    display: flex;
    flex-direction: column;
    background-color: var(--dark100);
    height: calc(100% - 40px) ;
    padding: 20px;


    .no-result {
        height: 100%;
    }

    section.badges {

        display: flex;
        gap: 10px;

        .cancel_button {
            cursor: pointer;
            background-color: var(--primary);
        }
    
        div{
            border-radius: 12px;
            padding: 10px 20px;
            background-color: var(--dark200);
            color: white;
        }

        div.result_type_2 {
            // For 4xx errors
            background-color: var(--primary);
        }

        div.result_type_4 {
            // For 4xx errors
            background-color: var(--orange);
        }

        div.result_type_5 {
            // For 4xx errors
            background-color: var(--red);
        }
    }
    
    section.result {

        background-color: var(--dark300);
        flex-grow: 1;
        margin-top: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 1px;
        


        section.headers {
            overflow: auto;
            flex-grow: 1;
            flex-basis: 0;
        }

        header {
            display: flex;
            gap: 1px;
    
            div {
                color: var(--white);
                padding: 10px;
                flex-basis: 0;
                flex-grow: 1;
                cursor: pointer;
                background-color: var(--dark200);
                text-align: center;
            }
    
            div:first-child{
                border-radius: 8px 0px 0px 0px;
            }
        
            div:last-child{
                border-radius: 0px 8px 0px 0px;
            }
        }

        section {
            background-color: var(--dark200);
            flex-grow: 1;
            overflow: auto;
            border-radius: 0 0 8px 8px;
        }
    }
}

#result_body_content {
    height: 200px;
}