main {
    height: 100%;
    width: 100%;
    background-color: var(--dark300);
    border-radius: 8px;
    gap: 1px;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        gap: 1px;


        div {
            cursor: pointer;
            flex: 1;
            text-align: center;
            color: var(--light);
            padding: 10px 20px;
            background-color: var(--dark200);
        }


        :first-child{
            border-top-left-radius: 8px;
        }

        :last-child {
            border-top-right-radius: 8px;
        }
    }

    section {
        background-color: var(--dark200);
        flex: 1;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}