main {
    background-color: var(--dark100);
    display: flex;
    flex-direction: column;

    div {
        cursor: pointer;
        padding: 5px 10px;
        display: flex;
        gap: 5px;
        align-items: center;
        flex-grow: 1;
        color: white;
    }

    div:hover {
        background-color: var(--light-grey);
    }
}