main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;

    i {
        font-size: 46pt;
        color: var(--dark300);
    }

    h1 {
        text-align: center;
        color: var(--white);
        font-weight: 300;
    }
}