* {
    margin: 0;
    padding: 0;
}

:root {
    --primary : #319E73;
    --dark100 : #1B1C21;
    --dark200 : #232429;
    --dark300 : #2F3136;
    --white : #FFFFFF;
    --light : #F5F5F5;


    --get : #319E73;
    --post : #F8AA4C;
    --delete : #F87659;
    --patch : #7A76B2;
    --put : #EEE149;
}