@use '@angular/material' as mat;
@include mat.core();

* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    user-select: none;
    outline-width: 0;
}

:root {
    --primary : #319E73;
    --dark100 : #1B1C21;
    --dark200 : #232429;
    --dark300 : #2F3136;
    --dark400 : #51545d;
    --white : #FFFFFF;
    --light : #F5F5F5;
    --grey300 : #999999;
    --grey200 : #E0E0E0;


    --get : #319E73;
    --post : #F8AA4C;
    --delete : #F87659;
    --patch : #7A76B2;
    --put : #EEE149;
}

.get {
    color: var(--get);
}

.post {
    color: var(--post);
}

.delete {
    color: var(--delete);
}

.patch {
    color: var(--patch);
}

.put {
    color: var(--put);
}